<div class="user-account">
    <div class="container">
        <h1 class="account-header pt-5 pb-5 text-center">Аккаунт пользователя</h1>
        <div class="row">

            <div class="col-sm-12 col-lg-4">

                <div class="d-flex justify-content-between mb-3">
                    <a href="/" class="btn btn-left btn-primary text-white">В главное меню</a>
                    <a href="/logout" class="btn btn-right btn-danger text-white">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Выход&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </div>

                <div class="user-bar mb-3">
                    <div class="bar-header">
                        <div class="header-img">
                            <img src="/img/courses-pages/author/pinchuk_da.jpg" alt="User photo" width="70" height="70">
                        </div>
                        <div class="header-content">
                            <span class="welcome">Привет,</span>
                                <% if(!user.name) { %>
                                    <span class="grey-text text-darken-4"><%= user.email.length <= 18 ? user.email : user.email.substr(0, 15) + '...' %></span>
                                <% } else { %>
                                    <span class="grey-text text-darken-4"><%= user.name.length <= 18 ? user.name : user.name.substr(0, 15) + '...' %></span>
                                <% } %>

                            <span class="role text-danger"><%= user.role %></span>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <ul class="bar-body">
                        <li class=""><a href="#!" class="collection-item grey-text text-muted">Редактировать профиль</a></li>
                        <li class=""><a href="#!" class="collection-item grey-text text-darken-4">Изменить email</a></li>
                        <li class=""><a href="#!" class="collection-item grey-text text-darken-4">Изменить пароль</a></li>
                        <li><a href="#!" class="collection-item grey-text text-muted">Ответы к тестам</a></li>
                        <li><a href="#!" class="collection-item grey-text text-darken-4">Как пользоваться платформой</a></li>
                    </ul>
                </div>

                <div class="user-bar-info mb-2">
                    <h3 class="courses-header text-danger" >Мои данные</h3>

                    <table class="content-table table-striped table">
                        <thead>
                        <tr>
                            <td class="teal lighten-2 user-data-item">Имя</td><td><%= user.name %></td>
                        </tr>

                        <tr>
                            <td class="teal lighten-2 user-data-item">Фамилия</td><td><%= user.lastName %></td>
                        </tr>

                        <tr>
                            <td class="teal lighten-2 user-data-item">Email</td><td><%= user.email %></td>
                        </tr>

                        <tr>
                            <td class="teal lighten-2 user-data-item">Роль</td><td><%= user.role %></td>
                        </tr>

                        <tr>
                            <td class="teal lighten-2 user-data-item">Создан</td><td><%= new Date(user.createdAt).toLocaleString() %></td>
                        </tr>

                        <tr>
                            <td class="teal lighten-2 user-data-item">Изменен</td><td><%= new Date(user.updatedAt).toLocaleString() %></td>
                        </tr>

                        <tr>
                            <td class="teal lighten-2 user-data-item">Статус</td><td><%= user.status %></td>
                        </tr>

                        <tr>
                            <td class="teal lighten-2 user-data-item">Тариф</td><td><%= user.tariff %></td>
                        </tr>
                        </thead>
                    </table>
                </div>

                <div class="d-flex justify-content-between mb-4">
                    <a href="/" class="btn btn-left btn-primary text-white">В главное меню</a>
                    <a href="/logout" class="btn btn-right btn-danger text-white">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Выход&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </div>

            </div>

            <div class="col-sm-12 col-lg-8">

                <div class="pb-5">
                    <div class="user-courses">
                        <h3 class="courses-header">Мои курсы</h3>
                    </div>
                    <div class="courses-content">
                        <table class="content-table table-striped table table-hover">
                            <thead>
                            <tr>
                                <th class="teal lighten-2">Имя курса</th>
                                <th class="teal lighten-2">Прогресс</th>
                                <th class="teal lighten-2">Action</th>
                            </tr>
                            </thead>

                            <tbody>

                            <% user.courses.forEach(course => { %>
                                <tr>
                                    <% if(course.progressPercent === 100) { %>
                                        <td class="pl-4 text-secondary"><%= course.courseName %></td>
                                        <td class="pl-4 text-secondary"><%= course.progressPercent %>%</td>
                                        <td><a href="#!" type="button" class="disabled btn btn-info d-block btn-lg">Продолжить</a></td>
                                    <% } else { %>
                                        <td class="pl-4"><dt><%= course.courseName %></dt></td>
                                        <td class="pl-4"><dt><%= course.progressPercent %>%</dt></td>
                                        <td><a href="#!" type="button" class="btn btn-info d-block btn-lg">Продолжить</a></td>
                                    <% } %>
                                </tr>
                            <% }); %>

                            </tbody>
                        </table>
                    </div>
                    <a href="/courses" type="button" class="btn btn-outline-primary btn-block text-primary">Добавить курс</a>
                </div>

                <div class="pb-5">
                    <div class="user-courses">
                        <h3 class="courses-header">Мои оплаты</h3>
                    </div>
                    <div class="courses-content">
                        <table class="content-table table-striped table">
                            <thead>
                            <tr>
                                <th class="teal lighten-2">Дата оплаты</th>
                                <th class="teal lighten-2">Сумма оплаты, грн.</th>
                                <th class="teal lighten-2">Период оплаты, мес.</th>
                            </tr>
                            </thead>

                            <tbody>

                            <% user.payments.forEach(payment => { %>
                                <tr>
                                    <td class="pl-4 text-secondary"><%= new Date(payment.paymentDate).toLocaleString() %></td>
                                    <td class="pl-4 text-secondary"><%= payment.paymentSumm %></td>
                                    <td class="pl-4 text-secondary"><%= payment.paymentMonthPeriod %></td>
                                </tr>
                            <% }); %>

                            </tbody>
                        </table>
                    </div>
                    <a href="/payment" type="button" class="btn btn-outline-primary btn-block text-primary">Оплатить</a>
                </div>

            </div>

        </div>
    </div>
</div>