<div class="user-account pt-3">
    <div class="container">
        <h1 class="account-header mb-3 text-center">Мой аккаунт</h1>
        <div class="row">

            <div class="col-sm-12 col-lg-4">

                <div class="d-flex justify-content-between mb-3 user-account-actions">
                    <a href="/" class="btn btn-primary text-white">В главное меню</a>
                    <a href="/logout" class="btn btn-danger text-white">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Выход&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                </div>

                <div class="user-bar mb-3">
                    <div class="bar-header">
                        <div class="header-img">
                            <img src="/img/courses-pages/author/pinchuk_da.jpg" alt="User photo" width="70" height="70">
                        </div>
                        <div class="header-content">
                            <span class="welcome">Привет,</span>
                                <% if(!user.name) { %>
                                    <span class="grey-text text-darken-4"><%= user.email.length <= 18 ? user.email : user.email.substr(0, 15) + '...' %></span>
                                <% } else { %>
                                    <span class="grey-text text-darken-4"><%= user.name.length <= 18 ? user.name : user.name.substr(0, 15) + '...' %></span>
                                <% } %>

                            <span class="role text-danger"><%= user.role %></span>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <ul class="bar-body list-unstyled">
                        <li class="mb-2"><a href="#!" class="text-dark">Редактировать профиль</a></li>
                        <li class="mb-2"><a href="#!" class="text-dark">Изменить email</a></li>
                        <li class="mb-2"><a href="#!" class="text-dark">Изменить пароль</a></li>
                        <li class="mb-2"><a href="#!" class="text-dark">Ответы к тестам</a></li>
                        <li class="mb-2"><a href="#!" class="text-dark">Как пользоваться платформой</a></li>
                    </ul>
                </div>

                <div class="user-bar-info mb-2">
                    <h3 class="text-center">Мои данные</h3>

                    <table class="content-table table-responsive table-striped table">
                        <thead>
                        <tr>
                            <td class="teal lighten-2 font-weight-bold">Имя</td><td><%= user.name %></td>
                        </tr>

                        <tr>
                            <td class="teal lighten-2 font-weight-bold">Фамилия</td><td><%= user.lastName %></td>
                        </tr>

                        <tr>
                            <td class="teal lighten-2 font-weight-bold">Email</td><td><%= user.email %></td>
                        </tr>

                        <tr>
                            <td class="teal lighten-2 font-weight-bold">Роль</td><td><%= user.role %></td>
                        </tr>

                        <tr>
                            <td class="teal lighten-2 font-weight-bold">Создан</td><td><%= new Date(user.createdAt).toLocaleString() %></td>
                        </tr>

                        <tr>
                            <td class="teal lighten-2 font-weight-bold">Изменен</td><td><%= new Date(user.updatedAt).toLocaleString() %></td>
                        </tr>

                        <tr>
                            <td class="teal lighten-2 font-weight-bold">Статус</td><td><%= user.status %></td>
                        </tr>

                        <tr>
                            <td class="teal lighten-2 font-weight-bold">Тариф</td><td><%= user.tariff %></td>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="col-sm-12 col-lg-8">

                <div class="pb-5">
                        <h3 class="text-center">Мои курсы</h3>
                    <div class="courses-content">
                        <table class="content-table table-striped table table-responsive">
                            <thead class="bg-primary text-white">
                            <tr>
                                <th>Имя курса</th>
                                <th>Прогресс</th>
                                <th>Action</th>
                            </tr>
                            </thead>

                            <tbody>

                            <% user.courses.forEach(course => { %>
                                <tr>
                                    <% if(course.progressPercent === 100) { %>
                                        <td class="text-secondary"><%= course.courseName %></td>
                                        <td class="text-secondary"><%= course.progressPercent %>%</td>
                                        <td><a href="#!" type="button" class="disabled btn btn-primary d-block btn-lg">Продолжить</a></td>
                                    <% } else { %>
                                        <td><%= course.courseName %></td>
                                        <td><%= course.progressPercent %>%</td>
                                        <td><a href="#!" type="button" class="btn btn-primary d-block btn-lg">Продолжить</a></td>
                                    <% } %>
                                </tr>
                            <% }); %>

                            </tbody>
                        </table>
                    </div>
                    <a href="/courses" type="button" class="btn btn-primary btn-block">Добавить курс</a>
                </div>

                <div class="pb-5">
                        <h3 class="text-center">Мои оплаты</h3>
                    <div class="courses-content">
                        <table class="content-table table-striped table">
                            <thead class="bg-primary text-white">
                            <tr>
                                <th>Дата оплаты</th>
                                <th>Сумма оплаты, грн.</th>
                                <th>Период оплаты, мес.</th>
                            </tr>
                            </thead>

                            <tbody>

                            <% user.payments.forEach(payment => { %>
                                <tr>
                                    <td class="text-secondary"><%= new Date(payment.paymentDate).toLocaleString() %></td>
                                    <td class="text-secondary"><%= payment.paymentSumm %></td>
                                    <td class="text-secondary"><%= payment.paymentMonthPeriod %></td>
                                </tr>
                            <% }); %>

                            </tbody>
                        </table>
                    </div>
                    <a href="/payment" type="button" class="btn btn-primary btn-block">Оплатить</a>
                </div>

            </div>

        </div>
    </div>
</div>
