<section class="bg-white pt-5">
    <div class="container">
        <div class="row">
            <div class="col s12 text-center">
                <h3 class="section-title">Наши курсы</h3>
            </div>
        </div>
            <div class="container p-0">
                <div id="courses"></div>
                <% let i = 0 %>
                <% courses.forEach(course => { %>
                            <div class="row align-items-center course-item p-3 mb-4 text-center">
                              <div class="col-lg-4">
                                <img class="course-image" src="<%= course.imgUrl %>" alt="">
                              </div>
                                <div class="col-lg-4 mb-2">
                                    <h3 class="h5 font-weight-bold mb-0"><%= course.name %></h3>
                                    <small class="text-muted">Количество обучающих сессий: <%= course.sessionCount %></small>
                                </div>
                                <div class="col-lg-4 course-actions">
                                    <button type="button" class="btn btn-primary collapsed mb-2" data-toggle="collapse" data-target="#demo<%= i %>" aria-expanded="false">О курсе</button>
                                    <a href="/login" class="d-block btn btn-outline-primary">Подписаться</a>
                                </div>
                                <div id="demo<%= i %>" class="course-details collapse">
                                    <p class="p-3 mb-0 text-justify"><%= course.summary %></p>
                                    <a href="<%= course.courseRedirectClickOnDetails %>" class="btn btn-primary course-details-link">Узнать Детальнее</a>
                                </div>
                            </div>


                    <% i++ %>
                <% }) %>

                <!--image gallery-->
            </div>

    </div>
</section>
