<section class="section-courses pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col s12 text-center">
                <h3 class="section-title">Наши курсы</h3>
            </div>
        </div>
        <div class="courses-item-wrapper">
            <div class="container p-0">
                <div id="courses"></div>
                <% let i = 0 %>
                <% courses.forEach(course => { %>
                    <div class="courses-wide__row">
                        <div class="courses-wide__row-container">
                            <div class="row valign-wrapper p-3 course-item">
                                    <a href="#!" data-target="#demo" class="col-md-4 courses-wide__row-image">
                                        <img src="<%= course.imgUrl %>" alt="" width'100'="" height="100" style="opacity: 1;">
                                    </a>
                                <div class="col-md-4">
                                    <h3 class="courses-wide__row-title"><%= course.name %></h3>
                                    <p class="courses-wide__row-text">Количество обучающих сессий: <%= course.sessionCount %></p>
                                </div>
                                <div class="col-md-4 courses-wide__row-btn">
                                    <div class="gdlr-course-button">
                                        <button type="button" class="btn btn-primary collapsed" data-toggle="collapse" data-target="#demo<%= i %>" aria-expanded="false">О курсе</button>
                                    </div>
                                    <div class="gdlr-course-button">
                                        <a href="/login" class="btn btn-courses">Подписаться</a>
                                    </div>
                                </div>
                                <div id="demo<%= i %>" class="course-details collapse" style="">
                                    <p><%= course.summary %></p>
                                    <a href="<%= course.courseRedirectClickOnDetails %>" class="course-details-link">детальнее&gt;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% i++ %>
                <% }) %>

                <!--image gallery-->
            </div>
        </div>
    </div>
</section>
