<section class="bg-white pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col s12 text-center">
                <h3 class="section-title">Наши курсы</h3>
            </div>
        </div>
            <div class="container p-0">
                <div id="courses"></div>
                <% let i = 0 %>
                <% courses.forEach(course => { %>
                    <div class="border rounded p-3 mb-4 text-center">
                            <div class="row align-items-center course-item col-lg-4">
                                    <a href="#!" data-target="#demo" class="course-image ">
                                        <img src="<%= course.imgUrl %>" alt="">
                                    </a>
                                <div class="col-lg-4">
                                    <h3 class="h5 font-weight-bold"><%= course.name %></h3>
                                    <small class="text-muted">Количество обучающих сессий: <%= course.sessionCount %></small>
                                </div>
                                <div class="col-lg-4 course-actions">
                                    <div class="gdlr-course-button">
                                        <button type="button" class="btn btn-primary collapsed" data-toggle="collapse" data-target="#demo<%= i %>" aria-expanded="false">О курсе</button>
                                    </div>
                                    <div class="gdlr-course-button">
                                        <a href="/login" class="btn btn-courses">Подписаться</a>
                                    </div>
                                </div>
                                <div id="demo<%= i %>" class="course-details collapse" style="">
                                    <p><%= course.summary %></p>
                                    <a href="<%= course.courseRedirectClickOnDetails %>" class="course-details-link">детальнее&gt;</a>
                                </div>
                            </div>

                    </div>
                    <% i++ %>
                <% }) %>

                <!--image gallery-->
            </div>

    </div>
</section>
