<link rel="stylesheet" href="<%= assetFingerprint('css/support/button-up.css') %>">

<% include layouts/header.ejs %>
<% include layouts/section-header.ejs %>
<% include layouts/section-about-top.ejs %>
<% include layouts/section-about.ejs %>
<% include layouts/section-advantages.ejs %>
<% include layouts/section-courses.ejs %>
<% include layouts/section-events.ejs %>
<% include layouts/section-tools.ejs %>
<% include layouts/section-articles.ejs %>
<% include layouts/section-rate.ejs %>
<% include layouts/section-footer.ejs %>

<button class="topbutton"><i class="fas fa-arrow-up"></i></button>

<script src="<%= assetFingerprint('js/masonry.pkgd.min.js') %>"></script>
<script src="<%= assetFingerprint('js/utils.js') %>"></script>
<script src="<%= assetFingerprint('js/main.js') %>"></script>
<script src="<%= assetFingerprint('js/section-tools.js') %>"></script>
<script src="<%= assetFingerprint('js/section-events.js') %>"></script>
<script src="<%= assetFingerprint('js/backtotop.js') %>"></script>

<% include layouts/footer.ejs %>