<div class="users">
    <% users.forEach((user) => { %>
    <div class="user-item mb-3">
        <div class="card">
            <div class="card-header">
                <%= user.id %>
            </div>
            <div class="row">
                <div class="col-10">
                    <div class="card-body">
                        <h6 class="card-title">Имя: <%= user.name.length > 0 ? user.name : "None" %></h6>
                        <h6 class="card-title">Фамилия: <%= user.lastName.length > 0 ? user.lastName : "None" %></h6>
                        <h6 class="card-title">Email: <%= user.email %></h6>
                        <h6 class="card-title">Роль: <%= user.role %></h6>
                        <h6 class="card-title">Статус: <%= user.status %></h6>
                        <h6 class="card-title">Тариф: <%= user.tariff.length > 0 ? user.tariff : "Not selected" %></h6>
                        <h6 class="card-title">Создан: <%= user.createdAt %></h6>
                        <h6 class="card-title">Редактирован: <%= user.updatedAt %></h6>
                        <h6 class="card-title">
                            <select class="selectpicker">Платежи пользователя
                                <option value="" disabled selected>Просмотреть</option>
                                <% user.payments.forEach(payment => { %>
                                <option><%= payment.paymentDate %></option>
                                <% }); %>
                            </select>
                            <label class="mdb-main-label"></label>
                            <%= user.email %>
                        </h6>



                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

                <div class="col-2">
                    <a href="#" class="btn btn-primary pb-1">Активировать</a>
                    <a href="#" class="btn btn-warning pb-1">Заблокировать</a>
                    <a href="#" class="btn btn-danger">Удалить</a>
                </div>
            </div>
        </div>
    </div>
    <% }); %>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
