<div class="users">
    <div class="container">
        <% users.forEach((user) => { %>
        <div class="user-item mb-3">
            <div class="card">
                <div class="card-header">
                    <%= user.id %>
                </div>
                <div class="row">
                    <div class="col-10">
                        <div class="card-body">
                            <div style="display: flex; align-items: flex-start; align-content: center;">
                                <p class="card-title" style="font-weight: 600;">Имя:&nbsp;</p><span> <%= user.name.length > 0 ? user.name : "None" %></span>
                            </div>
                            <div style="display: flex; align-items: flex-start; align-content: center;">
                                <p class="card-title" style="font-weight: 600;">Фамилия:&nbsp;</p> <span><%= user.lastName.length > 0 ? user.lastName : "None" %></span>
                            </div>
                            <div style="display: flex; align-items: flex-start; align-content: center;">
                                <p class="card-title" style="font-weight: 600;">Email:&nbsp;</p><span><%= user.email %></span>
                            </div>
                            <div style="display: flex; align-items: flex-start; align-content: center;">
                                <p class="card-title" style="font-weight: 600;">Роль:&nbsp;</p><%= user.role %>
                            </div>
                            <div style="display: flex; align-items: flex-start; align-content: center;">
                                <p class="card-title" style="font-weight: 600;">Статус:&nbsp;</p><%= user.status %>
                            </div>
                            <div style="display: flex; align-items: flex-start; align-content: center;">
                                <p class="card-title" style="font-weight: 600;">Тариф:&nbsp;</p><%= user.tariff.length > 0 ? user.tariff : "Not selected" %>
                            </div>
                            <div style="display: flex; align-items: flex-start; align-content: center;">
                                <p class="card-title" style="font-weight: 600;">Создан:&nbsp;</p> <%= user.createdAt %>
                            </div>
                            <div style="display: flex; align-items: flex-start; align-content: center;">
                                <p class="card-title" style="font-weight: 600;">Редактирован:&nbsp;</p><%= user.updatedAt %> 
                            </div>
                            <div style="display: flex; align-items: flex-start; align-content: center;">
                                <p class="card-title" style="font-weight: 600;">Платежи пользователя&nbsp;
                                    <select class="selectpicker">
                                        <option value="" disabled selected>Просмотреть</option>
                                        <% user.payments.forEach(payment => { %>
                                            <option><%= payment.paymentDate %></option>
                                        <% }); %>
                                    </select>
                                    <label class="mdb-main-label"></label>
                                </p>
                            </div>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <!-- <button class="btn btn-primary">Go somewhere</button> -->
                            <button class="btn btn-primary btn-user-activate" data-user-id="<%= user.id %>" <%= user.status === 'deleted' ? '' : 'disabled' %>>Активировать</button>
                            <button class="btn btn-warning btn-user-block" data-user-id="<%= user.id %>" data-user-status="<%= user.status %>" <%= user.status === 'deleted' ? 'disabled' : '' %>><%= user.status === "active" ? "Заблокировать" : "Разблокировать" %></button>
                            <button class="btn btn-danger btn-user-delete" data-user-id="<%= user.id %>" <%= user.status === 'deleted' ? 'disabled' : '' %>>Удалить</button>
                        </div>
                    </div>

                    <!-- <div class="col-2">
                    </div> -->
                </div>
            </div>
        </div>
        <% }); %>
    </div>
</div>
<script src="/js/admin-users.js"></script>
